<ion-view title="Info" nav-transition="none" id="page14">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.startPage_tab1" id="info-button14" class="button button-stable  button-block">Back</a>
    <div id="info-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#096D41;font-size:14px;">Name:</p>

      <p style="color:#096D41;font-size:14px;">Email:</p>

      <p style="color:#096D41;font-size:14px;">Lunch:</p>

      <p style="color:#096D41;font-size:14px;">Dinner:</p>

      <p style="color:#096D41;font-size:14px;">Midnight Snack:</p>

      <p style="color:#096D41;font-size:14px;">Breakfast:</p>

      <p style="color:#096D41;font-size:14px;">Lunch 2:</p>

      <p style="color:#096D41;font-size:14px;">Check-In?</p>

      <p style="color:#096D41;font-size:14px;">T-Shirt?</p>
    </div>
  </ion-content>
</ion-view>