<ion-view title="Meals" nav-transition="none" id="page10">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.startPage" id="meals-button5" class="button button-stable  button-block">Back</a>
    <a ui-sref="tabsController.mealScanner" id="meals-button6" class="button button-balanced  button-block">Lunch - Saturday</a>
    <a ui-sref="tabsController.mealScanner" id="meals-button7" class="button button-balanced  button-block">Dinner</a>
    <a ui-sref="tabsController.mealScanner" id="meals-button8" class="button button-balanced  button-block">Midnight Snack</a>
    <a ui-sref="tabsController.mealScanner" id="meals-button9" class="button button-balanced  button-block">Breakfast</a>
    <a ui-sref="tabsController.mealScanner" id="meals-button10" class="button button-balanced  button-block">Lunch - Sunday</a>
  </ion-content>
</ion-view>