<ion-view title="Settings" nav-transition="none" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="settings-form4" class="list">
      <a ui-sref="tabsController.startPage" id="settings-button17" class="button button-stable  button-block">Back</a>
      <button id="settings-button15" class="button button-balanced  button-block">Get Camera Permission</button>
    </form>
    <h1 id="settings-heading1" style="color:#055832;">Known Issues</h1>
    <h3 id="settings-heading3" style="color:#055832;">Scanning Barcodes:</h3>
    <div id="settings-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#096D41;font-size:15px;">The barcode scanner does not work well when scanning bright screens. If you are having trouble scanning hackers' QR codes, please ask them to reduce the screen brightness.</p>
    </div>
    <h3 id="settings-heading4" style="color:#055832;">Accessing the Scanner:</h3>
    <div id="settings-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#096D41;">When you try to access the camera, the app only checks whether it already has permission to access the camera. If it doesn't, it will simply abort the scan. Before you use the scanner for the first time, please give the app permission to access
        the camera.</p>
    </div>
    <div id="settings-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#096D41;">Made with love by the QR Architects &lt;3</p>
    </div>
  </ion-content>
</ion-view>