<ion-view title="Start Page" nav-transition="none" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="startPage-heading2" style="color:#055832;">Hi!</h1>
    <div id="startPage-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#096D41;font-size:21px;">Tap on a tab to begin scanning. </p>

      <p style="color:#096D41;font-size:21px;">Please see the 'Settings' tab for more information.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <div>
      <img src="img/zgVYO8DjRPys0XhF3tSv_hackRU_SP17_logo.png" style="display: block; width: 72%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="tabsController.scanner" id="startPage-button11" class="button button-balanced  button-block">Scan</a>
  </ion-content>
</ion-view>