<ion-view title="Successful Scan" nav-transition="none" id="page12">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.startPage_tab1" id="successfulScan-button13" class="button button-stable  button-block">Back</a>
    <form id="successfulScan-form3" class="list">
      <label class="item item-input" id="successfulScan-textarea3">
        <span class="input-label">Hacker Successfully Scanned</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>